@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
      <ul>
        <li>
          @Html.ActionLink("SeeEFQueryWithToString", "SeeEFQueryWithToString")
        </li>
        <li>
          @Html.ActionLink("AnyQuery", "AnyQuery")
        </li>
        <li>
          @Html.ActionLink("FirstOrDefaultQuery", "FirstOrDefaultQuery")
        </li>
        <li>
          @Html.ActionLink("SingleQuery", "SingleQuery")
        </li>
        <li>
          @Html.ActionLink("DefaultIfEmptyQuery", "DefaultIfEmptyQuery")
        </li>
        <li>
          @Html.ActionLink("EagerLoadQuery - Large", "EagerLoadQuery/51739")
        </li>
        <li>
          @Html.ActionLink("LazyLoadQuery - Large", "LazyLoadQuery/51739")
        </li>
        <li>
          @Html.ActionLink("EagerLoadQuery - Small", "EagerLoadQuery/59800")
        </li>
        <li>
          @Html.ActionLink("LazyLoadQuery - Small", "LazyLoadQuery/59800")
        </li>
        <li>
          @Html.ActionLink("IncludeQuery", "IncludeQuery")
        </li>
        <li>
          @Html.ActionLink("LazyLoadDisposedContextQuery", "LazyLoadDisposedContextQuery")
        </li>       
        <li>
          @Html.ActionLink("LazyLoadForEachQuery", "LazyLoadForEachQuery")
        </li>   
        <li>
          @Html.ActionLink("EagerLoadForEachQuery", "EagerLoadForEachQuery")
        </li>
        <li>
          @Html.ActionLink("EFCasingQuery", "EFCasingQuery")
        </li>
      </ul>
    </div>
</body>
</html>
